/* HEADER */
#logoLesPetitsPlats {
    width: 37%;
}
/* BARRE DE RECHERCHE (RECETTES) */
.input-group {
    height: 69px;
}
.input-group input, .input-group button {
    background: #E7E7E7;
    border: none;
}
.input-group button i {
    font-size: 23px;
}
#searchRecipesInput:focus {
    background: #E7E7E7;
    box-shadow: none;
}

/* TAGS */
.tags {
    gap: 1%;
}
.tags button {
    min-width: 90px;
}
/* TAGLIST */
input {
    color: white;
}
#searchIngredient::placeholder, #searchAppareil::placeholder, #searchUstensiles::placeholder{
    color: white;
}
.btn {
    position: relative;
}
#btnIngredients, #btnAppareils, #btnUstensiles {
    width: 170px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btnTaglist {
    display: none;
    position: absolute;
    z-index: 10;
}
.taglist {
    width: auto;
    max-width: 560px;
}
.taglist ul {
font-size: 14px;
}
.taglist li {
    text-align: left;
}
/* CARTES RECETTE */
.article {
    width: 405px;
    height: 370px;
}
.article img {
    height: 160px;
}
.article h5 {
    font-size: 1.15rem;
}
.card_description {
    max-height: 135px;
}
.card-bodyText {
    font-size: 12px;
}
.time p {
    margin-left: 6px;
}
