/* HEADER */
#logoLesPetitsPlats {
    width: 37%;
}
/* TAGS */
.tags {
    gap: 1%;
}
.tags button {
    min-width: 90px;
}
/* TAGLIST */
.btn {
    position: relative;
}
.btnTaglist {
    display: none;
    position: absolute;
    z-index: 10;
}
.taglist {
    width: auto;
    max-width: 560px;
}
.taglist ul {
font-size: 14px;
}
.taglist li {
    text-align: left;
}
/* CARTES RECETTE */
.article {
    width: 400px;
    height: 364px;
}
.card_description {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 364px;
}
.card-bodyText {
    font-size: 12px;
}
.time p {
    margin-left: 6px;
}
